@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto');

body {
    background-color: #2b2b2b;
}

h1 {
    font-family: 'Righteous', cursive;
    color: white;
    font-weight: 900;
    font-size: 3em;

    text-align: center;
    text-transform: uppercase;
}

.container {
      width: 900px;
      height: 600px;
      display: grid;
      margin: 30px auto;
      background-color: white;
      font-family: 'Roboto', sans-serif;
      justify-items: stretch;
      grid-template-columns: 600px 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "question score"
                           "question score"
                           "question correct_button"
                           "answer wrong_button"
                           "answer next_button"
                           "answer reset_button"
}

.question {
      grid-area: question;
      border: 10px solid #918b85;
      opacity: 0.8;
      border-style: groove;
      border-radius: 10px 40px 40px 10px;
      padding: 20px;
      margin:  20px 20px 10px 50px;
      display: inline-block;
}

.currentQuestion {
      height: 100px;
      width: 400px;
      font-size: 50px;
      padding: 25px;
      margin: 25px;
}

.answer {
      grid-area: answer;
      border: 10px solid #918b85;
      opacity: 0.8;
      border-style: groove;
      border-radius: 10px 40px 40px 10px;
      padding: 20px;
      margin: 10px 20px 20px 50px;
      display: inline-block;
      z-index: 1;
      position: relative;
}

.currentAnswer {
      height: 100px;
      width: 400px;
      font-size: 40px;
      padding: 25px;
      margin: 25px;
      z-index: 1;
      position: relative;
}

.score {
      grid-area: score;
      padding: 10px;
      margin: auto;
      display: inline-block;
}

h3 {
      text-align: center;
      /* font-size: 1.5em; */
}

.score .currentScore {
      font-size: 50px;
      width: 150px;
      height: 100px;
      /* margin: auto; */
      text-align: center;
      padding-top: 30px;
      background-color: #f7f7f7;
      /* align-self: center; */
}

.correct_button {
      grid-area: correct_button;
      align-self: end;
      margin: auto auto 0 auto;
      background-color: #f94f4f;
      opacity: 1;
}

.correct_button:hover {
      opacity: 0.5;
}

.wrong_button {
      grid-area: wrong_button;
      align-self: start;
      margin: 25px auto auto auto;
      background-color: #f94f4f;
      opacity: 1;
}

.wrong_button:hover {
      opacity: 0.5;
}

.next_button {
      grid-area: next_button;
      align-self: end;
      margin: auto auto 10px auto;
      background-color: #00a071;
      opacity: 1;
}

.next_button:hover {
      opacity: 0.5;
}

.reset_button {
      grid-area: reset_button;
      align-self: start;
      margin: 10px auto auto auto;
      background-color: #00a071;
      opacity: 1;
}

.reset_button:hover {
      opacity: 0.5;
}

.button {
      height: 40px;
      width: 150px;
      color: white;
      padding: auto;
      font-size: 18px;
      border-radius: 12px;
      display: inline-block;
}

.clapping {
      display: none;
      z-index: 2;
      width: 500px;
      height: 400px;
      position: absolute;
      margin: 100px 200px;
}
