@import url(http://fonts.googleapis.com/css?family=Ruluko);
@import url(http://fonts.googleapis.com/css?family=Oleo+Script);

body {
    background-color: #93C572;
    font-family: 'Oleo Script', cursive;
}
/* The reason I chose 'Green' for background-color :
It is the most restful color for the human eye. */

h1 {
    text-align: center;
}

.container {
      width: 900px;
      height: 600px;
      display: grid;
      margin: 30px auto;
      background-color: white;
      grid-template-columns: 600px 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "question score"
                           "question correct_button"
                           "answer wrong_button"
                           "answer reset_button"
}

.question {
      grid-area: question;
}

.answer {
      grid-area: answer;
}

.score {
      grid-area: score;
}

.correct_button {
      grid-area: correct_button;
}

.wrong_button {
      grid-area: wrong_button;
}

.reset_button {
      grid-area: reset_button;
}
