/* Q: need to figure out how to align items? texts? at center?? */
/* tried 'align-self' and 'text-align' but both didn't work. */


@import url(http://fonts.googleapis.com/css?family=Ruluko);
@import url(http://fonts.googleapis.com/css?family=Oleo+Script);

body {
    background-color: #b2cecf;
}

h1 {
    text-align: center;
    font-family: 'Oleo Script', cursive;
    color: white;
    letter-spacing: 3px;
}

.container {
      width: 900px;
      height: 600px;
      display: grid;
      margin: 30px auto;
      background-color: white;
      font-family: 'Ruluko', sans-serif;
      justify-items: stretch;
      /* align-items: start */
      grid-template-columns: 600px 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "question score"
                           "question score"
                           "question correct_button"
                           "answer wrong_button"
                           "answer next_button"
                           "answer reset_button"
}

.question {
      grid-area: question;
      /* background-color: red; */
      border: 10px solid #50d07d;
      border-style: groove;
      border-radius: 10px 40px 40px 10px;
      padding: 20px;
      margin:  20px 20px 10px 20px;
      display: inline-block;
}

.currentQuestion {
      height: 100px
      width: 400px
      font-size: 50px;
      padding: 25px;
      margin: 25px;

      /* Need to figure out to expand the space and font size!!! */
      /* font-size is not working. :( */
}

.answer {
      grid-area: answer;
      border: 10px solid #50d07d;
      border-style: groove;
      border-radius: 10px 40px 40px 10px;
      padding: 20px;
      margin: 10px 20px 20px 20px;
      display: inline-block;
}

.currentAnswer {
      height: 100px
      width: 400px
      font-size: 50px;
      padding: 25px;
      margin: 25px;

      /* Need to figure out to expand the space and font size!!! */
}

.score {
      grid-area: score;
      padding: 10px;
      margin: auto;
      display: inline-block;
}

.score .currentScore {
      font-size: 50px;
      width: 150px;
      height: 100px;
      text-align: center;
      /* need to figure out how to align items? texts? at center?? */
      background-color: #f7f7f7;
      align-self: center;
}

/* Also how can I arrange the contents */

.correct_button {
      grid-area: correct_button;
      align-self: end;
      margin: auto auto 30px auto;

}

.wrong_button {
      grid-area: wrong_button;
      align-self: start;
      margin: 10px auto auto auto;
}

.next_button {
      grid-area: next_button;
      align-self: end;
      margin: auto;
}

.reset_button {
      grid-area: reset_button;
      align-self: start;
      margin: 0 auto auto auto;
}

.button {
      height: 40px;
      width: 120px;
      background-color: #ED1C24;
      color: white;
      padding: 20px;
      text-align: center;
      font-size: 18px;
      /* margin: auto; */
      cursor: pointer;
      border-radius: 12px;
      display: inline-block;
      opacity: .6;
      /* align-content: center; */
      /* not working?!!! */
}


/* .buttonStyle {
    when mouseover this style will appear!
    opacity: .3;
    transition: opacity 300ms linear;
} */

/* I wanna add this style to buttons later
https://1stwebdesigner.com/free-code-snippets-css-buttons/ */
